<div class="Game">
  <h1>Welcome to our Snake Game {{ playerInfo.name }}!</h1>
  <app-game-status [GameStatus]="GameStatus"
  [CurrentGameData]="CurrentGameData"
></app-game-status>
<br />
<br />
<br />
  <ngx-snake
  class="black-and-white"
    #game
    (foodEaten)="onFoodEaten()"
    (gameOver)="onGameOver()"
  ></ngx-snake>
  <br />
  <br />
  <app-controller 
  [_snake]="_snake"
  [CurrentGameData]="CurrentGameData"
  (saveGameDataEvent)="onDataSaved($event)"
  (saveStatusEvent)="onStatusSaved($event)"
  (startTimer)='startTimer()'
  (stopTimer)='stopTimer()'
></app-controller>
  <br />
  <div class="row justify-content-md-center d-md-block">
    <button class="btn btn-primary col-4 btn-lg" (click)="backToTitle()">
      exit to Title Page
    </button>
  </div>
  <!-- {{highScores |json}} -->
  <br />
</div>
<app-game-info  class="right-container" [CurrentGameData]="CurrentGameData"></app-game-info>
<app-high-scores class="left-container"[highScores]="highScores"[playerInfo]="playerInfo"></app-high-scores>


