<head>some text</head>
<h1>Welcome to our Snake Game {{playerInfo.Name}}!</h1>
<h2 *ngIf="isReady">Game Ready!</h2>
<h2 *ngIf="isGo">Game Ongoing...</h2>
<h2 *ngIf="isPaused">Game Stopped!</h2>
<h2 *ngIf="isGameOver">Game Over!</h2>
<ngx-snake #game (foodEaten)="onFoodEaten()"(gameOver)="onGameOver()"></ngx-snake>
<br>
        <button (click)="game.actionStart();GameStarted()">Start</button>
        <button (click)="game.actionStop();GamePaused()">Stop</button>
        <button (click)="game.actionReset();GameReady()">Reset</button>
        <button (click)="game.actionUp()">Up</button>
        <button (click)="game.actionLeft()">Left</button>
        <button (click)="game.actionRight()">Right</button>
        <button (click)="game.actionDown()">Down</button>
        <br>
        <br>
 <button class="btn btn-primary"(click)="sendStatus()">exit to Title</button>
 <br>
 <br>
 <br>
 <br>
 <small>points: {{pointCount}}</small>
 <small>Time: {{gameplayTime}}</small>
 <!-- <small>{{playerData |json}}</small> -->