:host {
    min-height: 500px;
    display: inline-block;
    width: auto;
    text-align: center;
}

.controls {
    float: right;
    text-align: center;
}

ngx-snake {
    display: inline-block;
}
.Game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../formbg.jpg");
    border: 3px solid rgb(175, 170, 170);
    border-radius: 25px;
}
.right-container{
    position:absolute;
    right:50px;
    top:50px;
    // display: inline-block;
}
.left-container{
    position:absolute;
    left:50px;
    top:50px;
    // display: inline-block;
}
h1{
    padding-left: 50px;
    padding-right: 50px;
}
.retroBtn {
	background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin: 1rem;
	min-width: 80px;
    max-width:  150px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
    font-family: 'VT323', monospace;
	
	&:focus,
	&:hover {
		background: #BCBCBC;
	}
}

.retroBtn.red {
	background: #881400;
	
	&:focus,
	&:hover {
		background: #A81000;
	}
}

.retroBtn.green {
	background: #005800;
	
	&:focus,
	&:hover {
		background: #006800;
	}
}

.retroBtn.blue {
	background: hsl(214, 72%, 43%);
	
	&:focus,
	&:hover {
		background: #0000FC;
	}
}
    .retroBtn.contrast {
        background: hsl(0, 0%, 0%);
        
        &:focus,
        &:hover {
            background: #1c1c1d;
        }
}
