<form [formGroup]="playerForm" submit="onSubmit()">
  <div class="form-group">
    <label for="name">Player Name</label>
    <input
    id="playerInfo"
      name="name"
      type="text"
      class="form-control form-control-sm"
      formControlName="name"
    />
    <div
      class="alert alert-warning"
      [ngStyle]="{
        visibility:
          !playerForm.controls['name'].valid && !isInfoValid
            ? 'visible'
            : 'hidden'
      }"
    >
      Your name must be at least 5 characters long
    </div>
    <!-- <br /> -->
  </div>
  <div class="form-group">
    <label for="auth_token">Student ID</label>
    <input
    id="playerInfo"
      name="auth_token"
      type="text"
      class="form-control form-control-sm"
      formControlName="auth_token"
    />
    <div>
      <div
        *ngIf="isTokenSubmited; then showTokenError; else showInputError"
      ></div>
      <ng-template #showTokenError
        ><div
          class="alert alert-danger"
          [ngStyle]="{
            visibility:
              playerForm.controls['auth_token'].valid &&
              !isTokenValid &&
              !isInfoValid
                ? 'visible'
                : 'hidden'
          }"
        >
          Student ID Incorrect, please try again
        </div></ng-template
      >
      <ng-template #showInputError
        ><div
          class="alert alert-warning"
          [ngStyle]="{
            visibility:
              !playerForm.controls['auth_token'].valid && !isInfoValid
                ? 'visible'
                : 'hidden'
          }"
        >
          your student ID must be at least 4 characters long
        </div></ng-template
      >
    </div>
  </div>
  <!-- <div class="palette">
    <label for="palette">Choose a color scheme:</label>
  <span class="form-check">
    <input class="form-check-input" type="radio" name="palette" id="normal_colors" formControlName="paletteSelected" value="normal_colors" checked>
  <label class="form-check-label" for="normal_colors">
    normal colors
  </label>
</span>
<span class="form-check">
  <input class="form-check-input" type="radio" name="palette" id="high_contrast" formControlName="paletteSelected" value="high_contrast" >
  <label class="form-check-label" for="high_contrast">
    high contrast
  </label>  
  </span>
</div> -->
<div>
  <label for="palette">Choose a color scheme:</label>
  <select
  id="palette"
  class="form-select form-select-sm mb-2"
  formControlName="paletteSelected">
  <option value="normal_colors">normal colors</option>
  <option value="high_contrast">high contrast</option>
</select>
</div>
  <div class="fixed-bottom">
        <button [ngClass]="playerForm.value.paletteSelected==='normal_colors'?'btn btn-primary btn-lg':'btn btn-light btn-lg'" (click)="onSubmit()"> 

        Start Game</button
      >
  </div>
</form>

