h1,h5,label{
    text-align: center;

}
label{
    display: block;
}
.alert{
    margin-bottom: 1px;
    line-height:30px;
    padding:0px 15px;
    text-align: center;
    // display:block;
    width:100%;

}
button {
    margin:0 auto;
    display:block;
}
#playerInfo{
    width:99%;
    margin:auto;
}
.palette{
    display: inline-block;
    text-align: center;
}
.start-button{
    margin-top: 50px;
    display:block;
    margin-bottom: 2%;
}
// .playerFormContainer{
//     display:flex;
//     place-items: center;
// }