<!-- {{email}}{{playerName}} -->

<body>
<!-- {{changecomps}} -->
<!-- {{playerInfo | json}} -->
<app-title-page *ngIf="changecomps" 
(titleToGameEvent)="recieveStatus($event)"
(playerInfoEvent)="recievePlayerInfo($event)"
(playerInfoEvent)="AddPlayerData($event)">
</app-title-page>
<app-game-page *ngIf="!changecomps" (gameToTitleEvent)="recieveStatus($event)"[playerInfo]="playerInfo"[playerData]="playerData"></app-game-page>
<!-- (playerInfoEvent)="recievePlayerInfo($event) -->
<!-- <small>{{playerData |json}}</small> -->
</body>
<small>baba</small>