.stats-container{
    background-image: url("../formgb3.jpg");
    border: 3px solid rgb(175, 170, 170);
    border-radius: 30px;
    height: 480px;
    width: 300px;
    overflow: auto;
    // width: 300px;
}
.Scores{
    // overflow: auto;
    // height: 480px;
    // width: 300px;
    text-align: start;

}
// .StatsContainer{
//     width: 300px;
// }