.stats-container{
    background-image: url("../../images/dataDisplayBG.jpg");
    border: 3px solid rgb(175, 170, 170);
    border-radius: 25px
}
.gamePlay{
    overflow: auto;
    height: 480px;
    width: 300px;
    text-align: start;

}
.StatsContainer{
    width: 300px;
}
.button-container{
    width: 300px;
}
.li{
    text-align: left;
}