.titlePage{
    background-image: url("../images/snekForm.jpg");
    border: 3px solid rgb(175, 170, 170);
    border-radius: 25px;
    width:30%;
    height:450px;
    position: relative;
    margin: 2% auto;
}
h1,h5,label{
    text-align: center;

}
.playerFormContainer{
    display:grid;
    justify-content: center;
}
