.Time-And-Points{
    margin-bottom:20px;
    display:flex;
    gap:10px;
    justify-content: center;
}
small{
    font-size: large;   
    border: 10px solid rgb(32, 94, 30);
    padding: 15px;
    color:rgb(236, 151, 39);
    background-color:rgb(0, 0, 0);
}
h2{
    margin-bottom: 20px;
}