/* You can add global styles to this file, and also import other style files */
body, html {
    background-image: url("./app/images/greenBG.jpg");
    height:100%;
    color:rgb(250, 250, 250);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  }

  ngx-snake {
    &.high_contrast{
        ngx-snake-tile {
          background: #ffffff;
          &.free {
              div {
                  background: #ffffff;
              }
          }

          &.head,
          &.tail,
          &.food,
          &.body {
              div {
                  background: #000000;
              }
          }
      }
  }
}
ngx-snake {
    &.normal_colors{
        ngx-snake-tile {
          background: #ffffff;
          &.free {
              div {
                  background: #bbd4bfe0;
              }
          }

          &.head,
          &.tail,
          &.food,
          &.body {
              div {
                  background: #217235;
              }
          }
      }
  }
}